/*a{
  font-style: italic !important;
}*/
.logo_img {
  width:100%;
  height:32px;
}
.logo-image {
  background: white;
  height:60px;
  width:20%;
  padding-left: 35px !important;
}
.app-title {
  background: white;
  width: auto;
  height: 60px;
  font-family:  'Open Sans';
  font-size: 1.25em;
  border-bottom:1px solid silver;
 /* position: fixed;*/
}
.app-title a {
  color: #666666;
  text-decoration: underline;
  flex: auto;
  font-size: 0.675em;
  font-family: 'Open Sans';
  padding: 0px 10px 0px 10px;
  line-height: 35px;
  height: auto;
  display: inline-block;
  float:left;
}
.app-title .search {
  margin: 10px;
  width: 300px;
}
.search .form-control {
  width:100% !important;
}
.app-title  .dropdown .btn-primary {
  background: #A61F36 !important;
  font-size: 1.125em;
  border:none !important;
  margin:10px;
  width:159px;
}
.app-title  .glyphicon {
  float: right;
  top: -25px;
  left: -10px;
  font-size: 0.875em;
  color:#A61F36;
}
.dropdown-menu .glyphicon {
  float: none !important;
  top: 0px !important;
  left: 0px !important;
  font-size: 1.125em;
  color:#666666;
}
.dropdown-menu {
  cursor: pointer;
  font-size:1em !important;
}
.row {
  margin:0px !important;
}
.left-pane {
  background: #F5F5F5;
  color:#333333;
  border-right:1px solid silver;
 width:20% !important;
 /* margin-top: 60px;
  position: fixed;*/
}
.right-pane {
  width:80% !important;
  /*margin-top: 60px !important;
  margin-left: 20%;*/
}
.pact-row {
  background: #232B2D;
  color: white;
  height: 10em;
  padding-left: 35px;
}
.info-overview {
  display: flex;
  margin: 10px !important;
/*  border: 1px solid silver;
  background: white;*/
  height: 3.75em !important;
  margin-right:15px !important;
}
.info-overview .form-control {
  width:100% !important;
}
.info-overview .glyphicon {
  top: -25px;
  float: right;
  left: -10px;
  color: #A61F36;
}
.info-overview .badge {
  background: #A61F36;
  color:white;
  width: 50px;
  border-radius: 25px;
  padding: 10px;
  font-size: 0.875em;
}
.metero-tiles {
  margin-right: 3px;
  background: white;
  border: 1px solid #CCCCCc;
}
.left-pane .pages-links {
  height:600px;
  overflow-x:hidden;
  overflow-y: auto;
  background: white;
}
.pages-links ul {
  margin-left: -33px !important;
}
.pages-links li:hover {
  background: #f5f5f5;
}
.left-pane h4 {
  padding: 5px 16px;
  color: #232B2D;
  font-size: 1.25em;
  font-family:  'Open Sans';
  margin-top: 6px;
  margin-bottom: 7px;
}
.loader {
  margin-top:200px;
  text-align: center;
}
.loaderComponent {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(82, 82, 86, 0.3);
  z-index: 1;
  text-align: center;
}
.loaderComponent img {
  margin:200px auto!important;
}
.col {
  padding:10px 0px !important;
}
.pages-links li{
  list-style: none;
  padding: 10px 20px !important;
  display: flex;
  word-break: break-word;
  margin: 0px 10px;
  border-bottom: 1px solid silver;
}
.pages-links li .glyphicon-ok-circle {
  float:left;
  margin-top: 10px;
}
.pages-links li a{
  color: #666666;
  font-family:  'Open Sans';
  font-size: 0.9375em;
  cursor: pointer;
}
.pages-links .glyphicon {
  color:#666666;
}
.pages-links .active-glyphicon {
  color:#A72038;
}
.left-pane {
  padding:0px !important;
}
.col-sm-9 {
  padding-right:0px;
}
.footer {
  width: auto;
  height: 40px;
  background: #F5F5F5;
  color: #666666;
  font-size: 1em;
  font-family:  'Open Sans';
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.images img{
  cursor: pointer;
}
.images {
  display: block;
  text-align: center;
}
.user-profile {
  font-size: 0.675em;
  font-family: 'Open Sans';
  margin-top: 21px;
}
.profile-pic {
  background: #CCCCCC;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 13px;
}
.profile-pic div {
  text-align: center;
  font-size: 0.675em;
  padding-top: 9px;
}
.element-Info {
  width:100%;
}
.postnRel {
  position: relative;
}
.center .btn-primary {
  background: none !important;
  border: none !important;
  color: #232B2D !important;
}
.element-data-table tr:nth-child(even) {
  border: none !important;
  padding:10px 15px !important;
}
.element-data-table tr:nth-child(odd) {
  border: none !important;
  background-color:white !important;
  padding:10px 15px !important;
}
.element-data-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 5px;
 /* position: absolute;
  top: 40px;*/
}
.element-data-table td {
  font-family:  'Open Sans';
  font-size:0.8125em;
  color: #333333;
  padding: 0px 10px;
}
.element-data-table tbody {
  display: table;
  width:100%;
}
.element-data-table thead {
  display: table;
  width:100%;
}
.theadWidth {
  width:99.25% !important;
}
.element-data-table tbody td {
  word-break: break-word;
}
.element-data-table tbody{
  overflow-y: auto;
  height: 600px;
  display: block;
  min-height: 600px;
/*  width: 101.5%;*/
}
.search-row {
  padding:20px 25px 0px 25px !important;
}
.search-row .btn-primary {
  color: #fff;
  border: none;
  width:125px !important;
  border-radius: 0px !important;
  background-color: #A61F36 !important;
  border-color: #A61F36 !important;
}

.search-input-row {
  padding:0px 25px 10px 25px;
}
.recommendation-list {
  padding-left:15px !important;
}
.page-title{
  font-family:  'Open Sans';
  font-size:0.875em;
  color:#333333;
}
.dropdown a{
  color:#2542A1;
}
.app-title .dropdown {
  width:225px;
}
.search-title {
  font-family:  'Open Sans';
  font-size:0.875em;
  color: #666666;
}
.search-data {
  font-family:    'Open Sans';
  font-size:1.25em;
  color: #333333;
  font-weight: lighter;
}
.impact-level {
  font-family: 'Open Sans';
  font-size:1.25em;
  color: #A72038;
}
.severity-level {
  font-family: 'Open Sans';
  font-size:1em;
  color: #E65A5A;
}
.impact {
  font-family: 'Open Sans';
  font-size:1.25em;
  color:  #333333;

}
.pact-row .form-control {
  height:40px !important;
  width:264px !important;
  margin-right: 20px;
}
.pact-info-row {
  display:inline-flex;
  margin: 30px 20px 15px!important;
}
.pact-row button {
  width: 160px;
  height: 40px;
  background: #A61F36;
  border: none;
  color: #FFFFFF;
  font-size: 1.25em;
  font-family:  'Open Sans';
}
.pact-row li {
  margin:10px 0px;
}
.pact-data-heading {
  color: #232B2D;
  font-size: 0.875em;
  font-family:  'Open Sans';
  padding: 6px 0px 0px;
  font-weight: 600;
}
.pact-data {
  font-family: 'Open Sans';
  font-weight: lighter;
  font-size:1.25em;
  color:#333333;
  padding: 0px 0px 5px;
}
.element-data-table thead tr th{
  background: #A61F36;
  color: white;
  font-family:  'Open Sans';
  font-weight: lighter;
  font-size:0.8125em;
  padding:8px;
}
.element-data-table thead tr th .glyphicon {
  color: white !important;
}

.pact-row .dropdown[_ngcontent-c2] a[_ngcontent-c2] {
  color: #A61F36 !important;
  font-size: 1.125em;
}
.pact-row .glyphicon {
  float: right;
  top: -25px;
  left: -35px;
  color:#A61F36;
}
.group-change-filter-list {
  position: absolute;
   z-index: 99;
  background: #ffffff;
  color: #888888;
  width: 10px;
  height: 84px;
  padding: 10px 10px;
  min-width: 93px;
  border: 1px solid;
  display: none;
}
.group-change-filter-list .show{
  display: block !important;
}
.group-change-filter-list .list-sub-data {

  padding: 0;
  margin: 0;
}
.noFindings{
  font-size: 1.375em;
  margin: 100px;
  text-align: center;
  display: inline-block;
  width: 80%;
}

.group-change-filter-list .list-sub-data :hover {
  background: #D9EAF8;
}

.group-change-filter-list .list-sub-data .action-checkbox label {
  margin-bottom: 0px !important;
}

.group-change-filter-list .list-sub-data .action-checkbox label p {
  font-size: 0.75em !important;
}

.group-change-filter-list input[type="checkbox"] {
  height: 15px;
  position: relative;
  top: 1px;
  width: 17px;
  margin: 0 4px 10px 4px;
}

.group-change-filter-list .active {
  background: #D9EAF8;
}

.bugSelect{
  margin: 0px auto;
  margin-bottom: 50px !important;
  background-color: grey;
  height: 80px;
  text-align: center;
  padding-top: 23px;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
}
.create-bug{
  background: #A61F36;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  height:auto;
  margin-right:7px !important;
  cursor:default;
}
.disable-create-bug{
  background: #CCCCCC;
  color: #232B2D;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  height:auto;
  margin-right:7px !important;
}
.nav-ul {
  list-style: none;
  display: inline-flex;
  padding: 10px;
}
.nav-ul li {
  padding-right: 25px;
}
.nav-ul li a{
  color:#CCCCCC;
  cursor: pointer;
  text-decoration: none;
  background-color: white !important;
  font-family:  'Open Sans';
  font-size:0.9375em;
}
.active a{
  color: #A61F36 !important;
  text-decoration: underline;
  cursor: default;
}
.active {
  color:#A61F36 !important;
  cursor:  default;
}
.viewSourceModal .modal-body .pull-left {
  overflow: auto;
}
.home-icons-right .glyphicon {
  top: 5px !important;
  font-size: 1.25em !important;
  color:#CCCCCC !important;
}
.home-icons-right {
  border-right:1px solid silver;
  height:60px;
}

.home-icons-right a {
  color:#666666;
}
.home-icons-right a:hover {
  font-style: normal;
}
/*.home-icon-list:hover {
  background: #CCCCCc;
}*/
/*.home-icons-right:hover {
  color:#A61F36 !important;
}*/
.activeicon .glyphicon {
  color:#A61F36 !important;
}
.viewd-count {
  background: #A61F36;
  padding:5px;
  display: flex;
  padding-left: 35px;
  padding-bottom: 10px ;

}
.total-pages-view-count {
  padding: 5px;
  color: #232B2D;
  background: white;
  text-align: center;
  width: 38px;
  height: 1.875em;
  margin-top: 5px;
}
.viewd-count h4 {
  color: white;
  padding: 0px;
  font-size: 0.875em !important;
  font-family: 'Open Sans';
}

.userName {
  width:200px;
  margin:10px;
}
.site-map {
  background: white;

}
.viewSourceCode {
  color:#A61F36;
  text-decoration:underline;
  font-size:1em;
  font-weight:500;
  cursor: pointer;
  text-align: center;
}
.home-icons-right .glyphicon-menu-down {
  top: 10px !important;
  color: #666666 !important;
}
.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.no-violations {
  padding:10px;
  text-align: center;
  color:#666666;
  font-size:1em;
  border:1px solid silver;
  margin-top:10px;
}
a:hover {
  font-style: italic;
}
.active-listItem {
  background: #F2F4F6;
}
.left-icons .glyphicon {
  margin-left: 20px;
  top: 22px;
  float: left;
  display: inline-flex;
  font-size: 0.875em;

}
.left-icons div {
  cursor:pointer;
}
.left-icons div:hover {
  background:#CCCCCc;
  border-bottom: 1px solid #CCCCCc;
}
.home-icon-list {
  display: block;
  height: 60px;
}
.left-icons {
  display: inline-flex;
  height: 60px;
}
.left-icons a{
  padding:0px !important;
  margin: 12px 12px 0px 5px;
}
.active-listItem {
  background:#f5f5f5;
  border-bottom:1px solid #CCCCCc;
  color:#A61F36;
  cursor: pointer;
}
.row-heading {
  font-size: 1.25em;
  font-family: 'Open Sans';
  padding-top: 15px;
}
.row-heading-data {
  font-family: 'Open Sans';
  display: inline-block;
  padding-top: 5px;
  word-break: break-word;
  font-size:0.875em;
}
.no-issues {
  margin-top:100px;
  font-family: 'Open Sans';
  font-size:1.25em;
  height:50px;
}
.right-pane-heading {
  margin:10px;
  font-size:1.25em;
}
.findings-text {
  color:#A61F36;
  font-size:0.875em;
  font-weight:600;
}
.findings-heading {
  float:left;
  font-size:1.25em;
  margin-top:10px;
  font-family: 'Open Sans';
}
#skiptocontent a {
  padding: 6px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #A61F36;
  z-index: 100;
}

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
  background: #A61F36;
  color:white;
}
.glyphicon-filter {
  cursor: pointer !important;
}
.accessible-text {
  background: white;
  color: #232B2D;
  border: 1px solid #CCCCCc;
  border-right:none;
  display: inline-flex;
  margin: 10px 15px 0px;
}
.accessible-text div {
  border-right: 1px solid silver;
  padding:5px 10px 0px;
  cursor: pointer;
}
.small-text {
  fomt-size:0.875em;
}
.medium-text {
  font-size: 1em;
}
.large-text {
  font-size:1.125em;
}
.active-font {
  color:white;
  background: #A61F36;
}
.noFindingsThead th {
  background: #CCCCCc !important;
  color:black !important;
}
.noFindingsThead {
  color:black !important;
}
